header {
	width:100%; 
}
.videoback {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -10;
}
.videoback > video {
    position: absolute;
    top: 0;
    left: 0;
    **width:100%;
    width: 1900px; /*УТОЧНИТЬ*/
}

header .logo {
	width:calc(155*100vw/1900); 
	height:calc(215*100vw/1900);
	float:left;
	margin-left:20px;
	background: url(images/logo.png) no-repeat;
	background-size: contain;
}
.header > ul {
	display: flex;
    margin-left:calc(180*100vw/1900 + 20px);
	font-family:cyrillicold, arial, colibry;
	font-size:calc(14*100vw/1900 + 9px);
	background-color: rgba(255, 255, 255, .7); 
	border-radius: 10px;
}
.header ul li {
    border-radius: 10px;
}
.header > ul > li {
   transition: .5s;
}
.header ul li a {
	text-decoration:none;
    color: #000;
    display: inline-block;
    padding: 10px;
}
.header>ul li a:first-letter {
	color: red;
}

.header ul li:hover {
    background-color:darkblue;
}
.header ul li:hover a {
    color: cornsilk;
}
nav ul .active {
    background-color: #C48F14;
}

/*---Суб Меню--------------*/

.header .level_two {
	position: relative;
}
.header ul .level_two ul li a {
	padding: 0;
}
.header ul .level_two ul li {
	text-align: center;
}
nav ul li ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	visibility:hidden;
	width: 100%;
	background-color: rgba(255, 255, 255, .7); 
	border-radius: 10px;
}
nav ul li:hover > ul {
	visibility: visible;
}
.header li:hover ul li a {
    color: #000;
    font-size: calc(12*100vw/1900 + 8px);
}
nav ul li:hover ul li:hover a {
    color:cornsilk;
}
/*--------Конец Суб Меню----------------*/
.page_one {
	margin: 10% auto;
	width: 40%;
	font-family: cyrillicold, arial, colibry;
	font-size: calc(110*100vw/1900);
   	color: rgba(46, 12, 148, 1);
   	line-height: 60%;
    text-align: center;
}
.page_one h1 p {
	background-color: rgba(255, 255, 255, .6);
	padding: 15px;
	border-radius: 80px 0 80px 0;
    box-shadow: 10px 10px 55px rgba(255, 255, 255, 1), -10px -10px 55px rgba(255, 255, 255, 1);
}
.page_one span {
	font-family: disneypark, arial, colibry;
	font-size: calc(110*100vw/1900);
	color: gold;
	text-shadow: 5px 10px 5px #000;
}
.titles {
	position: relative;
	margin: 0 auto;
	width: 70%;
}
#titles {
	width: 90%;
	height: 300px;
	color: #2E0C94;
    text-shadow: 5px 12px 1px gold;
	font-size: 30px;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 80%;
	transform: perspective(300px) rotateX(25deg);
}
#titlecontent {
	position: absolute;
	animation: scroll 30s linear 0s infinite;
}
@keyframes scroll {
	0% { top: 100%;}
	100% { top: -100%;}
}
.wood {
	position: relative;
	height: calc(100vw/7.366);
	width: 100%;
	background: url(images/wood.png) no-repeat;
	background-size: 100%;
}
.adress {
	position: absolute;
	top: 20%;
	font-family: cyrillicold, arial, colibry;
	font-size: calc(45*100vw/1900);
	color: #51361a;
    background-color: rgba(255, 255, 255, .6);
    margin-left: 22%;
	padding-left: 10px;
	padding-right: 10px;
    border-radius: 10px;
}
.phone_mail {
    width: 50%;
    position: absolute;
	top: calc(0.082*100vw);
    left: 25%;
    display: flex;
    **justify-content:space-between;
    justify-content:space-around;
 }
.phone {
   width: calc(60*100vw/1900);
   height: calc(60*100vw/1900);
   background: url(images/phone.png) no-repeat;
   background-size:calc(60*100vw/1900) calc(60*100vw/1900); 
 }
.mail {
    width: calc(60*100vw/1900);
    height: calc(60*100vw/1900);
    background: url(images/mail.png) no-repeat;
	background-size:calc(60*100vw/1900) calc(60*100vw/1900);
 }
.phone_mail div p {
    font-family: cyrillicold, arial, colibry;
	font-size:calc(35*100vw/1900);
	color: #51361a;
    background-color: rgba(255, 255, 255, .6);
    padding-left: 10px;
	padding-right: 10px;
    border-radius: 10px;
}

/*Стилизация слайдера*/
.container {
	position: relative;
	margin-top: 0px;
	width: 100%;
    height: calc(100vw/2.3 + 40px);
    background: linear-gradient(rgba(250, 250, 250, 0.6), rgba(250, 250, 250, 0.6)), url(../);
}
.slider_wrapper {
	position: relative;
		top: 50px; 
		left: 20%;
	width: 60%;
}
.bxslider li video {
	width: 100%;
	height: auto;
}
.go_to_film {
	position: absolute;
	top: 40px;
	width: 40%;
	left: 30%;
	text-align: center;	
}
.go_to_film a {
	text-decoration: none;
	font-family:cyrillicold, arial, colibry;
	font-size: calc(8px + 20*100vw/1900);
	color: #000;
	background-color: #ddd; 
	border:1px solid gold;
	padding:5px 8px 5px 8px;
	border-radius:50px;
}
.go_to_film a:hover {
	color: cornsilk;
	background-color: darkblue;
}
.bxslider li:nth-child(3)  {
    position: relative;
}
.bxslider li:nth-child(3) p {
    position: absolute;
    top: calc(25*100vw/1900);
    left: calc(20*100vw/1900);
    font-family: cyrillicold, arial, colibry;
	font-size:calc(30*100vw/1900);
	color: #51361a;
    background-color: antiquewhite;
    padding: calc(15*100vw/1900);
    border: 2px solid #c6c6c6;
}
/****конец стилизации слайдера****/

article {
	position: relative;
	margin-top: 30px;
    width: 90%;
    margin-left: 5%;
 }

article p {
	font-family: cyrillicold, arial, colibry;
	font-size: 20px;
}
article .div1 p:first-child:first-letter {
	color: red;
	font-size: 25px;
}
.div23, .div56 {
	display: flex;
	justify-content: space-between;
}
.div1, .box2, .box3, .div4, .box5, .box6, .div7 {
	text-align: center;
	padding: 5px;
 	background-color: rgb(255, 255, 255, 0.7);
}
.box3, .box6 {
	margin-left: 20px;
}
.opa07 {
	margin-bottom: 30px;
}
.boxshadow {
     box-shadow:
 0px 0px 0px 2px rgba(0,0,0,0.6),
 0px 0px 0px calc(11*100vw/1900) #fff,
 0px 0px 0px 5px rgba(0,0,0,0.2),
 6px 6px calc(8*100vw/1900) calc(11*100vw/1900) #555;
}

footer {
	margin-top: 20px;
	width:100%;
	font-family: marckscript, lobster, arial, colibry;
	font-size: 24px;
	color: #fff;
	background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}
footer .footerup {
    display:flex;
	justify-content: space-around;
	padding-top: 3%;
}
footer .share {
	text-align: center;
}
footer .share .ya-share2 {
	margin: 5px calc(40*100vw/1900);
}
footer .contacts p:nth-child(1) {
	background: url(images/phone.png) no-repeat;
	background-size:calc(40*100vw/1900 + 20px) calc(40*100vw/1900 + 20px);
	padding-bottom:5px;
	padding-left:calc(70*100vw/1900 + 20px);
}
footer .contacts p:nth-child(2) {
	background: url(images/mail.png) no-repeat;
	background-size:calc(40*100vw/1900 + 20px) calc(40*100vw/1900 + 20px);
	margin-top:5px;
	padding-bottom:10px;
	padding-left:calc(70*100vw/1900 + 20px);
    height: calc(40*100vw/1900 + 10px);
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
