body {
	background: url(../images/Contacts/bg-contacts.jpg) no-repeat;
	-webkit-background-size: cover;
    background-size: cover;
}

header {
	width:100%; 
}
header .logo {
	width:calc(155*100vw/1900); 
	height:calc(215*100vw/1900);
	position: absolute;
    top: 0;
    left: 20px;
    background: url(../images/logo.png) no-repeat;
	background-size: contain;
}

.header > ul {
	display: flex;
    margin-left:calc(180*100vw/1900 + 20px);
	font-family:cyrillicold, arial, colibry;
	font-size:calc(14*100vw/1900 + 9px);
	background-color: rgba(255, 255, 255, .7); 
	border-radius: 10px;
}
.header ul li {
    border-radius: 10px;
}
.header > ul > li {
   transition: .5s;
}
.header ul li a {
	text-decoration:none;
    color: #000;
    display: inline-block;
    padding: 10px;
}
.header>ul li a:first-letter {
	color: red;
}
.header ul li:hover {
    background-color:darkblue;
}
.header ul li:hover a {
    color: cornsilk;
}
nav ul .active {
    background-color: #C48F14;
}

/*---Суб Меню--------------*/ 
.header .level_two {
	position: relative;
}
.header ul .level_two ul li a {
	padding: 0;
}
.header ul .level_two ul li {
	text-align: center;
}
nav ul li ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	visibility:hidden;
	width: 100%;
	background-color: rgba(255, 255, 255, .7); 
	border-radius: 10px;
}
nav ul li:hover > ul {
	visibility: visible;
}
.header li:hover ul li a {
    color: #000;
    font-size: calc(12*100vw/1900 + 8px);
}
nav ul li:hover ul li:hover a {
    color:cornsilk;
}

/*--------Конец Суб Меню----------------*/

.burger-menu {
	display: none;
}

.cont {
	margin: 50px auto;	
	width: 520px;
	background: url(../images/Contacts/contacts.png) no-repeat;
	background-size: cover;
	background-position: center 0;
}
.cont .cont_info {
	padding-top: 100px;
	padding-bottom: 140px;
}
.cont .cont_info p {
	font-family: cyrillicold, arial, colibry;
	font-size: 30px;
	color: #51361a;
	text-align:center;
	animation: flow 6s ease-in-out infinite;
	background: linear-gradient(-60deg, #EA02DE, #F10404, #19EE01, #0407ED);
	background-size: 300%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes flow {
	0% {background-position: 0 30%;}
	30% {background-position: 30 50%;}
	50% {background-position: 70% 50%;}
	70% {background-position: 100% 70%;}
	100% {background-position: 0 30%;}
}

form {
	width: 96%;
	margin-left: 2%;
}

.form {
	position: relative;
}
.form::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 251, 0.3) url('smayl.gif') center / 50px no-repeat;
	background-size: 15%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
.form._sending::after {
	opacity: 1;	
	visibility: visible;
}

input._error {
	box-shadow: 0 0 15px red;
}

.order {
	margin: 30px auto; 
	width: 100%;
}
.order span {
	color: red;
}
legend {
	font-family: cyrillicold, arial, colibry;
	font-size: 30px;
	color: #2E0C94;
	width: 90%;
	margin-left: 5%;
	padding-bottom: 40px;
}
legend:first-letter {
	font-size: 35px;
	color: red;
}
fieldset {
	width: 70%;
	margin-left: 15%;
	font-family: comfortaabold, balsamiqsans, lobster, arial, colibry;
	font-size: 20px;
	color: #2E0C94;
}
* {
	box-sizing: border-box;
}

.item1, .item2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}
.item1 div {
	margin-bottom: 20px;
}
.item2 > div {
	display: flex;
	margin-bottom: 20px;
}
.item2 input {
	margin-left: 20px;
}
input[type=text], input[type=email], input[type=tel], input[type=date], input[type=number], textarea[id=message] {
	 font-size: 20px;
	 font-family: comfortaabold, memorandum, arial, colibry;
	 border-radius: 5px;
	 padding: 5px;
}
input[type=text], input[type=email], input[type=tel] {
	padding: 10px;
}
textarea[id=message] {
	height:100px;
	min-height: 80px;
	resize: vertical;
	width: 70%;
	margin-left: 15%;
}

input[type=date] {
	max-width: 180px;
}	
input[type=number] {
	max-width: 70px;
}	
form .result {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
form .result p {
	width: 40%;
}
form .result p input {
	padding: 10px;
}
input[type=submit], input[type=reset] {
	width: 100%;
	font-size: 22px;
	font-family: lobster, arial, colibry;
	color: #008000;
	border-radius: 5px;
	border: 1px solid lime;
}
input[type=reset] {
	color: red;
}
input[type=reset]:hover, input[type=submit]:hover {
	cursor: pointer;
	background: #ffebcd;	
}	
input:focus {
	background: #ffebcd;
}

.map {
	margin: 80px auto;
	width: 70%;
	height: 400px;
 	box-shadow:
 0px 0px 0px 2px rgba(0,0,0,0.6),
 0px 0px 0px calc(11*100vw/1900) #fff,
 0px 0px 0px 5px rgba(0,0,0,0.2),
 6px 6px calc(8*100vw/1900) calc(11*100vw/1900) #555;
}

/*Стилизация слайдера*/
.container {
	position: relative;
	margin-top: 30px;
	width: 100%;
    height: calc(100vw/3 + 80px);
}
.slider_wrapper {
	position: absolute;
		left: 20%;
		top: 30px;
	width: 60%;
    height: calc(100vw/3);  
}
.bxslider li video {
	width: 100%;
	height: calc(100vw/3);
}
.bxslider li img {
	width: 100%;
	height: calc(100vw/3);
}
.go_to_film {
	position: relative;
	top: 20px;
	text-align: center;	
}
.go_to_film a {
	text-decoration: none;
	font-family:cyrillicold, arial, colibry;
	font-size: calc(8px + 20*100vw/1900);
	color: #000;
	background-color: #ddd; 
	border:1px solid gold;
	padding:5px 8px 5px 8px;
	border-radius:50px;
}
.go_to_film a:hover {
	color: cornsilk;
	background-color: darkblue;
}
/****конец стилизации слайдера****/

footer {
	width:100%;
	font-family: marckscript, lobster, arial, colibry;
	font-size: 24px;
	color: #fff;
	background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}
footer .footerup {
    display:flex;
	justify-content: space-around;
	padding-top: calc(35*100vw/1900);
}
footer .share {
	text-align: center;
}
footer .share .ya-share2 {
	margin: 5px calc(40*100vw/1900);
}
footer .contacts p:nth-child(1) {
	background: url(../images/phone.png) no-repeat;
	background-size:calc(40*100vw/1900 + 20px) calc(40*100vw/1900 + 20px);
	padding-bottom:5px;
	padding-left:calc(70*100vw/1900 + 20px);
}
footer .contacts p:nth-child(2) {
	background: url(../images/mail.png) no-repeat;
	background-size:calc(40*100vw/1900 + 20px) calc(40*100vw/1900 + 20px);
	margin-top:5px;
	padding-bottom:10px;
	padding-left:calc(70*100vw/1900 + 20px);
    height: calc(40*100vw/1900 + 10px);
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
